{% extends 'words/base.html' %}

{% block content %}
    <div class="list">
        {% if list.done == false %}
            <div class="date">
                {{ list.done|yesno }}
            </div>
        {% endif %}
        <h1>
            {{ list.title }}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'list_edit' pk=list.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </h1>
        <p>{{ list.text|linebreaksbr }}</p>
    </div>
{% endblock %}